/* Ornamen Kiri Bawah */
.ornamen-bawah {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 250px;
    /* Diperkecil dari 400px */
    opacity: 0.8;
    pointer-events: none;
    z-index: 0;
}

.ornamen-bawah img {
    width: 100%;
    height: auto;
}