/* Layout utama untuk halaman submenu (isi di dalam background parallax) */
.parallax-inner.submenu-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  padding: -10px 0px 80px 0px;
  box-sizing: border-box;
  min-height: calc(100vh - 120px);
  width: 100%;
  position: relative;
  overflow: visible;
  z-index: 5;
}

/* ornamen kuning di kanan atas */
.top-ornamen {
  position: absolute;
  top: -90px;
  right: 200px;
  width: 220px;
  z-index: 40;
}

/* header judul di tengah */
.submenu-header {
  /* margin-top: 40px; */
  position: absolute;
  width: 100%;
  top: -40px;
  left: 50%;
  text-align: center;
  z-index: 50;
  width: 100%;
  transform: translate(-50%);
}

.title-center {
  font-size: 48px;
  font-weight: 800;
  color: #ffffff;
  margin: 0;
}

.subtitle-center {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.95);
  margin-top: 6px;
  
}

/* panel kiri */
.left-info {
  width: 50%;
  color: #fff;
  margin-top: 160px; 
  padding-left: 180px;
}

.left-info h2 {
  font-size: 25px;
  letter-spacing: 1px;
  margin: 0 0 6px 0;
}

.left-info h3 {
  font-size: 25px;
  font-weight: 800;
  margin: 0 0 20px 0;
}

.left-info p {
  font-size: 16px;
  line-height: 1.75;
  width: 90%;
  margin-bottom: 28px;
}

/* tombol Mulai */
.btn-start {
  display: inline-block;
  background: #F0B92F;
  color: #ffffff;
  font-size: 24px;
  padding: 14px 40px;
  border-radius: 14px;
  border: none;
  font-weight: 800;
  cursor: pointer;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.25);
}

.parallax-wrapper {
    position: relative;
    min-height: 88vh;
    width: 100%;
    height: 100%;
}


/* ornamen garis bawah kanan */
.bottom-ornamen {
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 750px;
  z-index: 1;
  opacity: 0.95;
  pointer-events: none;
}

.parallax.ornamen-bawah,
.parallax.ornamen-kanan {
  z-index: 10;
}
