/* area slider di sisi kanan */
.slider-area {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 140px; /* sejajar dengan kiri */
  margin-right: 0;
  padding-right: 0;
  gap: 2rem;
}

.slider-viewport {
  width: 100%;
  overflow: hidden;
  padding: 0 0 0 0;
  margin: 0;
  position: relative;
}


.slider-track {
  display: flex;
  gap: 32px;
  align-items: center;
  transition: transform 520ms cubic-bezier(.22, .9, .36, 1);
  will-change: transform;
  padding-bottom: 12px;
  transform: translateX(0);
}

/* kartu dasar */
.slider-card {
  background: #fff;
  border-radius: 26px;
  border: 4px solid #f4a43a;
  box-shadow: 0 18px 42px rgba(0, 0, 0, 0.28);
  box-sizing: border-box;
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-width: 180px;
  z-index: 15;
  width: 280px;
  height: 400px;
  border-radius: 24px;
  padding: 15px;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}

.slider-card.locked {
  cursor: not-allowed;
  opacity: 0.8;
}

.slider-card:hover:not(.locked) {
  border-color: #1B5AA1;
  box-shadow: 0 20px 48px rgba(0, 0, 0, 0.35);
}

/* ukuran kartu aktif & non-aktif */
.slider-card.size-large {
  width: 280px;
  height: 400px;
  transform-origin: center bottom;
  transform: scale(1);
}

.slider-card.size-medium {
  width: 240px;
  height: 340px;
  transform-origin: center bottom;
  transform: scale(1);
  opacity: 0.98;
}

.slider-card.size-small {
  width: 200px;
  height: 280px;
  transform-origin: center bottom;
  transform: scale(1);
  opacity: 0.95;
}

/* judul di dalam kartu */
.slider-card h4 {
  margin: 8px 0 14px;
  font-size: 20px;
  font-weight: 800;
}

/* ikon di kartu */
.icon-lock {
  width: 34px;
  margin-bottom: 6px;
}

.illustration {
  width: 160px;
  height: auto;
  max-height: 180px;
  object-fit: contain;
  margin-top: 10px;
  margin-bottom: 12px;
}

/* tombol panah kiri/kanan */
.nav-btn {
  background: none;
  border: none;
  color: #080808;
  font-size: 36px;
  cursor: pointer;
  z-index: 40;
  padding: 6px 12px;
  padding-left: 0;
}

.nav-left {
  margin-right: 25px;
  margin-left: 225px;
}

.nav-right {
  margin-left: 25px;
  z-index: 100;
}

/* responsive */
@media (max-width: 1100px) {
  .parallax-inner.submenu-main {
    flex-direction: column;
    align-items: center;
  }

  .left-info {
    width: 100%;
    text-align: center;
    margin-top: 80px;
  }

  .slider-area {
    width: 100%;
    margin-top: 10px;
  }

  .slider-viewport {
    width: 100%;
  }

  .slider-card.size-large {
    width: 360px;
    height: 400px;
  }

  .slider-card.size-small {
    width: 240px;
    height: 360px;
  }
}
